<h1>Edit <%= @landmark.name %></h1>

<h3>Year Completed: <%= @landmark.year_completed %></h3>
<form action=<%= "/landmarks/#{@landmark.id}/edit"%> method="post">
  <p>Corrected Landmark Name: <input id="name" type="text" name="landmark[name]" value=""></p>
  <p>Corrected Year Completed: <input id="year_completed" type="text" name="landmark[year_completed]" value=""></p>
  <input type="submit" name="submit" value="Edit Landmark">
</form>
